body {
    margin: 0;
    padding: 0;
}

.qq {
    &-app {
        display: grid;
        grid-template-columns: 50px 150px auto;
        grid-template-rows: 50px 50px 50px auto 50px;
    }

    &-content {
        grid-column-start: 3;
        grid-column-end: 5;
        grid-row-start: 3;
        grid-row-end: 5;

        &-section {

        }
    }
}
