.qq-header {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 3;
    background-color: #ddd;

    &-brand {
        height: 50px;

    }

    &-titlebar {

    }

    &-actionbar {
        background-color: #eee;
    }

    &-tabbar {
        background-color: #eee;
    }
}
