.qq-sidebar {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 5;
    background-color: #ddd;

    &-nav {
        margin: 0;
        padding-left: 0;
        list-style: none;

        &-item {
            height: 50px;
            width: 50px;

            &:hover {
                background-color: #ccc;
                border-left: 3px solid #aaa;
            }

            &:before {
                vertical-align: middle;
                font-size: 32px;
                line-height: 50px;
            }
        }
    }



    @media (min-width: 1200px) {
        grid-column-end: 3;
    }
}
